body {
    background: var(--bg);
    font-size: 16px;
    line-height: 16px;
    font-family: Montserrat, Roboto, sans-serif;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    color: #fff;
    font-weight: 500;
    padding-bottom: 20px;
    transition: background-color 0.3s ease;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    color: inherit;
  }
  
  * {
    box-sizing: border-box;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  input,
  button {
    border: none;
    margin: 5px; 
    background: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-family: Montserrat, Roboto, sans-serif;
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  ul,
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .app {
    width: 1274px;
    margin: 0 auto;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-center {
    align-items: center;
    justify-content: center;
  }
  
  .icon {
    width: 12px;
    height: 12px;
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  section {
    background: var(--dark);
    border-radius: 6px;
  }
  
  button {
    background: var(--violet-dark);
    border-radius: 6px;
    padding: 9px 20px;
    font-weight: 600;
    line-height: 20px;
    cursor: pointer;
  }
  
  button:hover {
    background: var(--violet);
  }
  
  h2 {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
  
  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }
  
  input {
    padding: 0;
  }
  
  .preloader {
    flex-grow: 1;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

body[data-theme="dark"] {
  --bg: #1a1a1a;
  --dark: #121212;
  --grey: #777777;
  
  color: #fff; 
}

body[data-theme="light"] {
  --bg: #ffffff;
  --dark: #f4f4f4;
  --grey: #333333;
  --div: #0000;

  
  color: #121212; 
  
}

  /* Стили для ползунка темы */
input[type="range"] {
  -webkit-appearance: none;
  width: 5%;
  height: 10px;
  background: var(--grey); /* Цвет фона для ползунка */
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 5px;
}

/* Стили для ползунка при наведении */
input[type="range"]:hover {
  opacity: 1;
}

/* Стили для заполненной части ползунка */
input[type="range"]::-webkit-slider-runnable-track {
  width: 1%;
  height: 20px;
  cursor: pointer;
  background: var(--violet); /* Цвет заполненной части */
  border-radius: 5px;
}

/* Стили для ползунка */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: var(--dark); /* Цвет ползунка */
  border-radius: 50%;
}

/* Стили для ползунка в активном состоянии */
input[type="range"]:focus::-webkit-slider-thumb {
  outline: none;
}
